<body class="btn">
    <h1>Congresos registrados</h1>
    <table class="table">
        <button class="button" routerLink="/congresos">Crear nuevo Congreso</button>
        <tbody>
            <tr *ngFor="let item of congress">
                <td>{{item.nombre}}</td><br>
                <td>{{item.congresos}}</td><br>
                <td>{{item.tema}}</td><br>
                <td>
                    <button class="button1" (click)="edit(item)">Editar</button>
                    <button class="button2" (click)="deletecongress(item._id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</body>
