.button {
    color: #111;
    background-color: #b7f76e;
    text-decoration: none;
    padding: 14px;
    &:hover {
      background-color: #c4fc84 ;
    }
  }

  .button1 {
    color: #111;
    background-color: #ffb386;
    text-decoration: none;
    padding: 14px;
    &:hover {
      background-color: #f7a372;
    }
}

.button2 {
    color: #111;
    background-color: #b7f76e;
    text-decoration: none;
    padding: 14px;
    &:hover {
      background-color: #c4fc84 ;
    }
  }