<section class="h-screen w-screen flex justify-center items-center">
    <div class="m-3">
        <button class="bg-white text-gray-800 font-bold rounded border-b-2 border-blue-500 hover:border-blue-600 hover:bg-blue-500 hover:text-white shadow-md py-2 px-6 inline-flex items-center" routerLink="/menu">
        <span class="mr-2">administrador</span>
        <i class="fas fa-users"></i>
      </button>
    </div>
    <div class="m-3">
        <button class="bg-white text-gray-800 font-bold rounded border-b-2 border-blue-500 hover:border-blue-600 hover:bg-blue-500 hover:text-white shadow-md py-2 px-6 inline-flex items-center" routerLink="/vercongreso">
        <span class="mr-2">Congreso</span>
        <i class="fas fa-university"></i>
      </button>
    </div>
    <div class="m-3">
        <button class="bg-white text-gray-800 font-bold rounded border-b-2 border-blue-500 hover:border-blue-600 hover:bg-blue-500 hover:text-white shadow-md py-2 px-6 inline-flex items-center" routerLink="/verponencias">
        <span class="mr-2">Ponencia</span>
        <i class="fas fa-user-tag"></i>
      </button>
    </div>
</section>